@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2017-02-25 15:48:57
 * @version $Id$
 */
body{
	margin: 0;
	padding: 0;
	font-family: "微软雅黑";
}
img{
	vertical-align: top;

}
p{
	margin: 0;
	padding: 0;
}
#box{
	width: 700px;
	height: 640px;
	margin: 20px auto;
	border: 1px solid #ef2a82;
	position: relative;
	div{
		float: left;
	}
	div#list{
		width: 340px;
		box-sizing:border-box;
		a{
			display: block;
			font-size: 20px;
			color: #ef2a82;
			padding: 10px;
		}
		a.list-head{
			font-size: 35px;
			text-align: center;
			text-decoration: none;
			margin-bottom: 10px;
		}
	}
	div#pages{
		width: 340px;	
	}
	#intro{
		width: 240px;
		padding: 10px;
		// text-indent: 2em;
		position: absolute;
		top: 0;
		left: 0;
		display: none;
		h2{
			margin: 10px 5px 5px 5px;
		}
		p{
			line-height: 20px;

		}
	}	
}
